<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <style>
    body {
      font-family: sans-serif;
      text-align: center;
      margin-top: 50px;
    }

    form {
      display: inline-flex;
      flex-direction: column;
      text-align: left;
      align-items: center;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #f8f8f8;
      width: 225px;
    }

    label {
      display: block;
      margin-bottom: 6px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 10px 20px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100px;
    }

    a {
      display: inline-block;
      margin-top: 20px;
      color: #007bff;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <h2>Login Page</h2>
  <form action="/login" method="POST">
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
    </div>
    <button type="submit">Login</button>
  </form>
  <br />
  <a href="/">Back to Home</a>
</body>

</html>